h1{   
    text-align: center;
    color: white;
    
    }
    p{
    color: white;
    
    }
body{
    background-color: black;
}
img{
    
    }
#gomb{
    text-align: right;
    
    }